/* Main Info */
/*
// main color :
// main font-family :
*/

/* Main */
body
{
    font-family: 'Open Sans', sans-serif;
    background-color: #1e272e;
}

/* Upperbar */
.upperbar
{
    width: 100%;
    margin-top: 10px;
}

.upperbar span
{
    display: inline-block;
    color: #FFF;
    top: 18px;
    margin-right: 10px;
    text-transform: uppercase;
}

.upperbar i
{
    color: #FFF;
    margin:10px 4px;
    text-align: center;
    line-height: 40px;
    background-color: #d8d8d8;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.upperbar i:hover
{
    cursor: pointer;
    opacity: .9;
}

.upperbar span,
.upperbar i
{
    float: right;
    position: relative;
    right: 20px;
}

/* Navbar */
.main-navbar
{
    background-color: #1e272e!important;
    padding-bottom: 20px;
    clear: both;
}

.main-navbar .navbar-brand
{
    font-size: 60px;
    font-family: 'Knewave', cursive;
    transform: rotate(-10deg);
    margin-left: 10px;
}

.main-navbar .navbar-nav .nav-link
{
    font-size: 20px;
    margin: 5px;
    text-transform: uppercase;
}

.secondary-navbar
{
    background-color: #1e272e!important;
    margin-top: 30px;
}

.secondary-navbar::before
{
    position: absolute;
    content: "";
    height: 2px;
    background-color: #FFF;
    width: 86%;
    margin-left: 72px;
    bottom: 60px;
    opacity: 0.5;
}

.secondary-navbar::after 
{
    position: absolute;
    content: "";
    height: 2px;
    background-color: #FFF;
    width: 86%;
    margin-left: 72px;
    top: 60px;
    opacity: 0.5;
}

.secondary-navbar .navbar-nav .nav-link
{
    margin-left: 10px;
    margin-right: 10px;
    text-transform: uppercase;
}

.secondary-navbar form
{
    margin-right: 15px;
}

/* Trailers & Commented Section */
.trailers-box-office
{
    width: 100%;
    margin-top: 100px;
    margin-bottom: 80px;
}

.trailers-box-office .latest-trailers
{
    border: 4px solid #929292;
    margin-bottom: 30px;
}

.trailers-box-office .box-office
{
    background-color: #FFF;
}

.trailers-box-office .box-office h4
{
    background-color: #d4d4d4;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}

.trailers-box-office .box-office .box-office-content
{
    margin-top: 25px;
    margin-bottom: 25px;
}

.trailers-box-office .box-office ul
{
    margin-top: 20px;
    margin-bottom: 20px;
}

.trailers-box-office .box-office ul li
{
    margin-top: 20px;
    margin-bottom: 20px;
}

.trailers-box-office .box-office ul li a
{
    font-size: 14px;
    margin-left: 10px;
}

.trailers-box-office .box-office ul li .badge
{
    width: 30px;
    height: 30px;
    line-height: 25px;
}

.trailers-box-office .box-office ul li .count
{
    float: right;
    font-size: 12px;
    margin-top: 7px;
    opacity: .5;
}

.trailers-box-office .box-office .see-more
{
    margin-left: 10px;
    font-size: 14px;
}

.trailers-box-office .box-office .icon
{
    font-size: 14px;
    color: #929292;
}

/* Top Rated */
.top-rated
{
    margin-top: 40px;
    margin-bottom: 60px;
}

.top-rated .slider
{
    width: 100%;
}

.top-rated .slider .slider-item
{
    height: 400px;
    margin: 10px;
    cursor: pointer;
}

.top-rated .slider .slick-prev,
.top-rated .slider .slick-next
{
    z-index: 9999;
}

.top-rated .slider .slick-prev::before,
.top-rated .slider .slick-next::before
{
    font-family: FontAwesome;
    font-weight: 900;
    font-size: 50px;
    background-color: #ececec;
    color: #1e272e;
    width: 80px;
    height: 80px;
    line-height: 80px;
    border-radius: 10px;
    position: absolute;
    top: -40px;
    opacity: .5;
}

.top-rated .slider .slick-prev:hover:before,
.top-rated .slider .slick-next:hover:before
{
    opacity: 1;
}

.top-rated .slider .slick-prev::before
{
    content: "\f053";
    left: 100px;
}

.top-rated .slider .slick-next:before
{
    content: "\f054";
    right: 100px;
}

.top-rated .slider .ant-man-and-the-wasp
{
    background-image: url('../img/ant\ man\ and\ the\ wasp.jpg');
    background-size: 265px 400px;
}

.top-rated .slider .jurassic-world-ii
{
    background-image: url('../img/jurassic\ world\ 2.jpg');
    background-size: 265px 400px;
}

.top-rated .slider .black-panther
{
    background-image: url('../img/black\ panther.jpg');
    background-size: 265px 400px;
}

.top-rated .slider .pacific-rim-uprising
{
    background-image: url('../img/Pacific\ Rim\ Uprising.jpg');
    background-size: 265px 400px;
}

.top-rated .slider .escape-plan-ii
{
    background-image: url('../img/ESCAPE\ PLAN\ 2.jpg');
    background-size: 265px 400px;
}

.top-rated .slider .the-maze-runner-iii
{
    background-image: url('../img/the\ maze\ runner\ 3.jpg');
    background-size: 265px 400px;
}

.top-rated .slider .slider-item .slider-content
{
    background-color: #d4d4d4;
    width: 233px;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    bottom: -1px;
}

.top-rated .slider .slider-item .rating-content
{
    float: left;
}

.top-rated .slider .slider-item .rating-content .rating-caption
{
    text-transform: uppercase;
    font-weight: bold;
}

.top-rated .slider .slider-item .slider-content .massage-content
{
    float: right;
}

.top-rated .slider .slider-item .slider-content .massage-content .count
{
    font-size: 14px;
}

/*Fixed*/
.fade:not(.show)
{
    opacity: 1;
}