/* Main Info */
/*
// main color :
// main font-family :
*/

/* Main */
body
{
    font-family: 'Open Sans', sans-serif;
    background-color: #1e272e;
}

/* Upperbar */
.upperbar
{
    width: 100%;
    margin-top: 10px;
}

.upperbar span
{
    display: inline-block;
    color: #FFF;
    top: 18px;
    margin-right: 10px;
    text-transform: uppercase;
}

.upperbar i
{
    color: #FFF;
    margin:10px 4px;
    text-align: center;
    line-height: 40px;
    background-color: #d8d8d8;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.upperbar i:hover
{
    cursor: pointer;
    opacity: .9;
}

.upperbar span,
.upperbar i
{
    float: right;
    position: relative;
    right: 20px;
}

/* Navbar */
.main-navbar
{
    background-color: #1e272e!important;
    padding-bottom: 20px;
    clear: both;
}

.main-navbar .navbar-brand
{
    font-size: 60px;
    font-family: 'Knewave', cursive;
    transform: rotate(-10deg);
    margin-left: 10px;
}

.main-navbar .navbar-nav .nav-link
{
    font-size: 20px;
    margin: 5px;
    text-transform: uppercase;
}

.secondary-navbar
{
    background-color: #1e272e!important;
    margin-top: 30px;
}

.secondary-navbar::before
{
    position: absolute;
    content: "";
    height: 2px;
    background-color: #FFF;
    width: 86%;
    margin-left: 72px;
    bottom: 60px;
    opacity: 0.5;
}

.secondary-navbar::after 
{
    position: absolute;
    content: "";
    height: 2px;
    background-color: #FFF;
    width: 86%;
    margin-left: 72px;
    top: 60px;
    opacity: 0.5;
}

.secondary-navbar .navbar-nav .nav-link
{
    margin-left: 10px;
    margin-right: 10px;
    text-transform: uppercase;
}

.secondary-navbar form
{
    margin-right: 15px;
}

/* Trailers & Commented Section */
.trailers-box-office
{
    width: 100%;
    margin-top: 100px;
    margin-bottom: 80px;
}

.trailers-box-office .latest-trailers
{
    border: 4px solid #929292;
    margin-bottom: 30px;
}

.trailers-box-office .box-office
{
    background-color: #FFF;
    border: 4px solid #929292;
}

.trailers-box-office .box-office h4
{
    background-color: #d4d4d4;
    margin: 20px;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}

.trailers-box-office .box-office .box-office-content
{
    margin-top: 35px;
    margin-bottom: 35px;
}

.trailers-box-office .box-office ul
{
    margin-top: 20px;
    margin-bottom: 20px;
}

.trailers-box-office .box-office ul li
{
    margin: 20px;
}

.trailers-box-office .box-office ul li a
{
    font-size: 14px;
    margin-left: 10px;
}

.trailers-box-office .box-office ul li .badge
{
    width: 30px;
    height: 30px;
    line-height: 25px;
}

.trailers-box-office .box-office ul li .count
{
    float: right;
    font-size: 12px;
    opacity: .5;
}

.trailers-box-office .box-office .see-more
{
    margin-left: 20px;
    font-size: 14px;
}

.trailers-box-office .box-office .icon
{
    font-size: 14px;
    color: #929292;
}


/*Fixed*/
.fade:not(.show)
{
    opacity: 1;
}