/* Main Info */
/*
// main color :
// main font-family :
*/

/* Main */
body
{
    font-family: 'Open Sans', sans-serif;
    background-color: #2980b9;
}

/* Upperbar */
.upperbar
{
    background-color: #2980b9;
    width: 100%;
    margin-top: 5px;
}

.upperbar span
{
    display: inline-block;
    color: #FFF;
    top: 18px;
    margin-right: 10px;
    text-transform: uppercase;
}

.upperbar i
{
    color: #FFF;
    margin:10px 4px;
    text-align: center;
    line-height: 40px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.upperbar i:hover
{
    cursor: pointer;
    opacity: .9;
}


.upperbar .facebook
{
    background-color: #3b5998;
}

.upperbar .google-plus
{
    background-color: #dd4b39;
}

.upperbar .twitter
{
    background-color: #1da1f2;
}

.upperbar span,
.upperbar i
{
    float: right;
    position: relative;
    right: 20px;
}

/* Navbar */
.main-navbar
{
    background-color: #2980b9!important;
    padding-bottom: 10px;
    clear: both;
}

.main-navbar .navbar-brand
{
    font-size: 35px;
    margin-left: 10px;
    position: absolute;
    bottom: 35px;
}

.main-navbar .navbar-brand .brand
{
    font-family: 'Bangers', cursive;
    padding: 9px;
    color: #192a56;
    border: 4px solid #192a56;
    border-right: none;

}

.main-navbar .navbar-brand .name
{
    font-family: 'Special Elite', cursive;
    border: 4px solid #c23616;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    bottom: 1px;
    color: #e1b12c;
    background-color: #c23616;
}

.main-navbar .navbar-brand .name::before
{
    content: "\f04b";
    font-family: FontAwesome;
    font-size: 25px;
    color: #e1b12c;
    padding-right: 5px;
}

.main-navbar .navbar-nav .nav-link
{
    font-size: 20px;
    margin: 5px;
    text-transform: uppercase;
}

.secondary-navbar
{
    background-color: #2980b9!important;
}

.secondary-navbar .navbar-nav .nav-link
{
    margin-left: 10px;
    margin-right: 10px;
    text-transform: uppercase;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active
{
    background-color: #2980b9;
    border-bottom-color: #2980b9;
}

.secondary-navbar form
{
    margin-right: 15px;
}

/* Trailers & Commented Section */
.trailers-box-office
{
    background-color: #ecf0f1;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
}

.trailers-box-office .latest-trailers
{
    padding: 10px 10px 0px;
    background-color: #FFF;
    border-top: 2px solid #bdc3c7;
}

.trailers-box-office .latest-trailers .carousal-control
{
    display: inline-block;
    margin-top: 80px;

}

.trailers-box-office .latest-trailers .carousel-indicators
{
    left: auto;
    margin-right: 10%;
    background-color: #FFF;
}    

.trailers-box-office .latest-trailers .carousel-indicators li
{
    position: static;
    width: 35px;
    height: 35px;
    color: #FFF;
    margin-right: 2px;
    margin-left: 2px;
    text-indent: 0;
    text-align: center;
    line-height: 35px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    background-color: #6c757d;
}

.trailers-box-office .latest-trailers .carousel-indicators li::after
{
    display: none;
}

.trailers-box-office .latest-trailers .carousel-indicators li::before
{
    display: none;
}

.trailers-box-office .latest-trailers .carousel-indicators .more
{
    width: 90px;
    text-transform: uppercase;
}

.trailers-box-office .latest-trailers .carousel-indicators .more a
{
    text-decoration: none;
    color: #FFF;
}

.trailers-box-office .latest-trailers .carousel-indicators .more:hover
{
    background-color: #000;
}

.trailers-box-office .latest-trailers .carousel-indicators li.active
{
    background-color: #000;
}


.trailers-box-office .box-office
{
    background-color: #FFF;
}

.trailers-box-office .box-office h3
{
    color: #d2d2d2;
    background-color: #000;
    width: 100%;
    margin-bottom: 20px;
    padding: 15px 10px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Boogaloo', cursive;
    font-weight: bold;
}

.trailers-box-office .box-office .box-office-content
{
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 0px 20px 40px;
}

.trailers-box-office .box-office ul
{
    margin-top: 20px;
    margin-bottom: 20px;
}

.trailers-box-office .box-office ul li
{
    margin-top: 20px;
    margin-bottom: 20px;
}

.trailers-box-office .box-office ul li a
{
    font-size: 14px;
    margin-left: 10px;
    color: #074e9a;
}

.trailers-box-office .box-office ul li .badge
{
    width: 30px;
    height: 30px;
    line-height: 25px;
}

.trailers-box-office .box-office ul li .count
{
    float: right;
    font-size: 12px;
    margin-top: 7px;
    opacity: .5;
}

.trailers-box-office .box-office .see-more
{
    margin-left: 10px;
    font-size: 14px;
    color: #074e9a;
}

.trailers-box-office .box-office .icon
{
    font-size: 14px;
    color: #929292;
}

/* Top Rated */
.top-rated
{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #bdc3c7;
}

.top-rated .slider
{
    width: 100%;
}

.top-rated .slider .slider-item
{
    background-color: #FFF;
    margin-left: 10px;
    margin-right: 10px;
}

.top-rated .slider .slider-img
{
    height: 400px;
    margin: 5px;
    cursor: pointer;
}

.top-rated .slider .slick-prev,
.top-rated .slider .slick-next
{
    z-index: 9999;
}

.top-rated .slider .slick-prev::before,
.top-rated .slider .slick-next::before
{
    font-family: FontAwesome;
    font-weight: 900;
    font-size: 50px;
    background-color: #ececec;
    color: #1e272e;
    width: 80px;
    height: 80px;
    line-height: 80px;
    border-radius: 10px;
    position: absolute;
    top: -40px;
    opacity: .5;
}

.top-rated .slider .slick-prev:hover:before,
.top-rated .slider .slick-next:hover:before
{
    opacity: 1;
}

.top-rated .slider .slick-prev::before
{
    content: "\f053";
    left: 100px;
}

.top-rated .slider .slick-next:before
{
    content: "\f054";
    right: 100px;
}

.top-rated .slider .ant-man-and-the-wasp
{
    background-image: url('../img/ant\ man\ and\ the\ wasp.jpg');
    background-size: 256px 400px;
}

.top-rated .slider .jurassic-world-ii
{
    background-image: url('../img/jurassic\ world\ 2.jpg');
    background-size: 256px 400px;
}

.top-rated .slider .black-panther
{
    background-image: url('../img/black\ panther.jpg');
    background-size: 256px 400px;
}

.top-rated .slider .pacific-rim-uprising
{
    background-image: url('../img/Pacific\ Rim\ Uprising.jpg');
    background-size: 256px 400px;
}

.top-rated .slider .escape-plan-ii
{
    background-image: url('../img/ESCAPE\ PLAN\ 2.jpg');
    background-size: 256px 400px;
}

.top-rated .slider .the-maze-runner-iii
{
    background-image: url('../img/the\ maze\ runner\ 3.jpg');
    background-size: 256px 400px;
}

.top-rated .slider .slider-content
{
    margin: 5px 10px;
    text-align: center;
}

.top-rated .slider .rating-content .rating-caption
{
    text-transform: uppercase;
    font-weight: bold;
}

.top-rated .slider .rating-content .rating-count
{
    margin-left: 20px;
    font-size: 14px;
}

/*Fixed*/
.fade:not(.show)
{
    opacity: 1;
}